@model IEnumerable<Movies.Models.Movie>
@{
    ViewData["Title"] = "Movies";
}

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add New Movie</a>
</p>

<form asp-controller="Movie" asp-action="Index" method="get">
    <p>
        @*Implement filtering*@
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate);
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(movieItem => movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(movieItem => movie.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(movieItem => movie.Rating)
                </td>
                <td>
                    @Html.DisplayFor(movieItem => movie.Genre)
                </td>
                <td>
                    @Html.DisplayFor(movieItem => movie.ReleaseDate)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>